{% extends 'adminlte/base.html' %}

{% block content %}
    <li>
        <a href="/some/url">
            <i class="fa fa-dashboard"></i> <span>Home</span>
        </a>
    </li>
    <li>
        <a href="/some/url">
            <i class="fa fa-user"></i> <span>Users</span>
        </a>
    </li>

{% endblock content %}